<html>
  <head>
    <title>My First Webpage</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header id='top'>
      <h1 class='banner'>Welcome to the Task-Man</h1>
    </header>

    <main>
      <section class="about">
        <h2>About</h2>

        <a href="http://google.com">cool site</a> <!-- External Link -->


