<!DOCTYPE html>
<html>
<head>
  <title>TODO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <a href='/tasks'>view all tasks</a>
  </nav>
  <%= yield %>
</body>
<footer>
  <p>Made with &hearts; by Ryan Poplawski</p>
  <a href='#top'>go to top</a>
</footer>
</html>
